<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Nossos Serviços</h2>
                <p>O Hotel Ventura oferece muito mais que hospedagem, fique por dentro dos nossos serviços oferecidos!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-video-camera"></i>
                    </span>
                    <h3>Sala de Reuniões</h3>
                    <p>Reservada para até 100 pessoas, equipada com ar split e multimídia.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-user"></i>
                    </span>
                    <h3>Recepção 24h</h3>
                    <p>Comodidade e segurança ao entrar e sair do hotel.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-medall"></i>
                    </span>
                    <h3>Nota Máxima</h3>
                    <p>Em avaliações feitas por hospédes e mídias especialidadas.</p>
                </div>
            </div>
        </div>
    </div>
</div>