<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" >
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-pb-md">

            <div class="col-md-12 text-center">
                <div class="gtco-widget">
                    <h3>Contato</h3>
                    <ul class="gtco-quick-contact">
                        <li>
                            <a href="#">
                                <i class="icon-phone"></i> +55 99 3123 4567</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mail2"></i> contato@hotelventura.com.br</a>
                        </li>
                    </ul>
                </div>
                <div class="gtco-widget">
                    <h3>Redes Sociais</h3>
                    <ul class="gtco-social-icons">
                        <li>
                            <a href="https://twitter.com/">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7975563.426779441!2d-62.83668425671512!3d-12.561265715616111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93a0b3fc406dc749%3A0xceb5ef862f403c43!2sHotel%20Ventura!5e0!3m2!1spt-BR!2sbr!4v1663622199102!5m2!1spt-BR!2sbr" width="600" 
                height="400" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-md-12 text-center copyright">
                <button onclick="location.href='/admin'" type="button">Área Administrativa</button>
                <p>
                    <small class="block">&copy; Sistema Web Hotel Ventura. Todos os Direitos Reservados.</small>
                </p>
            </div>
        </div>

    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <i class="icon-arrow-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>

<script src="js/moment.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>

<!-- Main -->
<script src="js/main.js"></script>

</body>

</html>