<%- include('page-header') -%>

  <div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/usuarioadmin">Menu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/minhasreservas">Minhas Reservas <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/nome">Alterar Nome <span class="sr-only">(current)</span></a></li>
                <li><a href="/senha">Alterar Senha <span class="sr-only">(current)</span></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="col-md-12">
          <form action="/nome" method="post" id="form-alteranome">
            <input type="hidden" name="id_usuario">
            <div class="modal-header">
              <h4 class="modal-title">Alterar Nome</h4>
            </div>
            <div class="modal-body">
              <% data.forEach(function(data){ %>
              <div class="form-group">
                <label for="inputNomeAtual">Nome Atual</label>
                <input type="text" class="form-control" id="inputNomeatual" name="nomeatual" value="<%=data.nome%>" disabled>
              </div>
              <% }); %>
              <div class="form-group">
                <label for="inputNovoNome">Novo Nome</label>
                <input type="text" class="form-control" id="inputNomenovo" name="nomenovo" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="/js/formsave.js"></script>
<script>

    let formSubscribe = document.querySelector('#form-alteranome');

    formSubscribe.submitAjax({
        success: () => {
            alert('Nome atualizado!');
            formSubscribe.reset();
            location.reload();
        },
        failure: error => {
            alert('Erro ao submeter dado');
        }
    });
    
</script>

<%- include('page-footer') -%>