<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema Web Hotel Ventura" />
    <meta name="author" content="Antonio Vinicius" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <meta name="theme-color" content="#FBB448">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="gtco-loader"></div>

    <div id="page">

        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
        
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo">
                            <a href="/">Hotel Ventura
                                <em>!</em>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/quartos">Quartos</a>
                            </li>
                            <li>
                                <a href="/servicos">Serviços</a>
                            </li>
                            <li>
                                <a href="/contatos">Contato</a>
                            </li>
                            <li>
                                <a href="/reservas">Reserva</a>
                            </li>
                            <!-- <li class="btn-cta">
                                <a href="/login">
                                    <span>Login</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
        
            </div>
        </nav>

        <% if (headerIndex === true) { %>
            <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)"
            data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
        
        
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <h1 class="cursive-font">Hotel Ventura!</h1>
                            </div>
                            <!-- <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">
        
                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <h3 class="cursive-font">Reserva de quarto</h3>
                                                <form action="/reservas" method="POST">
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputName">Nome</label>
                                                            <input type="text" id="inputName" name="name" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputEmail">E-mail</label>
                                                            <input type="email" id="inputEmail" name="email" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputPeople">Pessoas</label>
                                                            <select id="inputPeople" name="people" class="form-control">
                                                                <option value=""> -- selecione -- </option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5+">5+</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputDate">Data</label>
                                                            <input type="text" id="inputDate" name="date" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="inputTime">Hora</label>
                                                            <input type="text" id="inputTime" name="time" class="form-control">
                                                        </div>
                                                    </div>
        
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-block" value="Reservar Agora">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
        
        
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
        
        
                    </div>
                </div>
            </div>
            </header>
        <% } else { %>
            <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(<%=header.background%>)">
                <div class="overlay"></div>
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0 text-center">
            
                            <div class="row row-mt-15em">
                                <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                                    <h1 class="cursive-font"><%=header.title%></h1>
                                </div>
            
                            </div>
            
                        </div>
                    </div>
                </div>
            </header>
        <% } %>