<%- include('page-header') -%>

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Minhas Reservas <span class="sr-only">(current)</span></a></li>
                      <li ><a href="#">Meus Dados <span class="sr-only">(current)</span></a></li>
                      <li ><a href="#">Alterar Senha <span class="sr-only">(current)</span></a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

			<div class="col-md-12">
				<div class="col-md-6 animate-box">
					<% if (typeof success === 'string') { %>
                    <div class="alert alert-success" role="alert">
                        <%=success%>
                    </div>
                    <% } %>
                    <% if (typeof error === 'string') { %>
                    <div class="alert alert-danger" role="alert"> <strong>Ops!</strong> <%=error%>
                    </div>
                    <% } %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('page-footer') -%>